/* ----------------------------------------------tailwind-css---------------------------------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------------------------------------custom-style---------------------------------------------- */

@font-face {
  font-family: font1;
  src: url(./fonts/01.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: font1;
}

:root {
  --bg-clr: #080808;
  --secend-clr: #121212;
  --chatbox-clr: #161619;
}

@layer utilities {
  /* Custom scroll */
  .scrollCustom::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollCustom::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollCustom::-webkit-scrollbar-thumb {
    background: #212123;
    border-radius: 8px;
    border: 2px solid transparent;
  }

  .scrollCustom::-webkit-scrollbar-thumb:hover {
    background: #884dff;
  }

  /* Firefox support */
  .scrollCustom {
    scrollbar-width: thin;
    scrollbar-color: var(--secend-clr) transparent;
  }

  /* Thin / hide scrollbar */
  .thin-scrollCustom::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none !important;
  }

  .thin-scrollCustom {
    scrollbar-width: 1px; /* Firefox hide */
  }
  .scrollVeiwNone::-webkit-scrollbar {
    display: none;
  }
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-clr);
}

/* ----------------------------------------------specific style----------------------------------------------- */

.newChatOption {
  border-radius: 12px;
  border: 0.124rem solid #22232700;
  background: transparent;
  transition: all 0.3s ease;
}

.newChatOption:hover {
  border-radius: 12px;
  border: 0.124rem solid #222327;
  background: transparent;
}

.newChatOption .newChatKeyWord {
  opacity: 0;
  transition: all 0.3s ease;
}

.newChatOption:hover .newChatKeyWord {
  opacity: 1;
}

/* input */

.inputEmail {
  background: #161619;
  outline: 1px solid #212123;
  padding: 8px 13px;
}

.inputEmail:hover {
  outline: 1px solid #fff;
}

.inputEmail:focus {
  outline: 1px solid #fff;
}

.forgetBtn {
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.forgetBtn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; 
  height: 1px;
  background: #fff;
  transition: width 0.3s ease;
}

.forgetBtn:hover::after {
  width: 100%;
}

.forgetBtn::after {
  transform-origin: left center;
}
