/* ----------------------------------------------tailwind-css---------------------------------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------------------------------------custom-style---------------------------------------------- */

@font-face {
  font-family: font1;
  src: url(./fonts/01.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: font1;
}

:root {
  --bg-clr: #080808;
  --secend-clr: #121212;
  --chatbox-clr: #161619;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-clr);
}

/* ----------------------------------------------specific style----------------------------------------------- */
